@tailwind components;

@layer components {
  /*------------------
 header component
-------------------- */
  .header-container {
    @apply xl:px-10 flex justify-between items-center sticky top-0 z-50;
  }
  .header-container .menu-wrapper {
    @apply hidden space-x-5 uppercase text-secondary xl:flex items-center;
  }
  .header-container .menu-wrapper .btn {
    @apply rounded-md border-2 px-4 py-2;
  }
  .header-container .menu-wrapper .menu-item,
  .menu-responsive-wrapper .menu-item {
    @apply relative;
  }
  .submenus-wrapper {
    @apply flex flex-col absolute top-full left-0 bg-primary text-white
     py-4 rounded-b-md z-50 w-full;
  }
  .submenus-wrapper a {
    @apply hover:bg-red-400 px-2 py-1;
  }

  .menu-responsive-wrapper {
    @apply absolute top-0 right-0 pt-16 pl-10 pr-16 bg-white h-[100vh] 
    space-y-5 xl:hidden;
  }
  .close-btn {
    @apply absolute top-3 right-6 text-2xl rounded-full hover:bg-gray-200
     h-10 w-10 flex justify-center items-center text-secondary;
  }

  /* ------------------
        join component
    ----------------- */
  .join-component {
    @apply bg-black text-white py-24;
  }
  .join-component h2 {
    @apply text-center text-5xl  font-extrabold md:my-10 
    font-balloVai;
  }
  .join-component .wrapper-container {
    @apply md:flex justify-center items-center text-center gap-20;
  }
  .join-component .wrapper-container h2 {
    @apply lg:text-5xl text-3xl  font-extrabold;
  }
  .join-component .wrapper-container button {
    @apply rounded-md border-0 border-solid px-8 py-3 text-lg mt-6;
  }

  /* -------------------------
    news letter component
  ------------------------ */
  .news-letter-container {
    @apply text-white mt-32;
  }
  .news-letter-container .wrapper {
    @apply flex justify-center items-center  py-24 px-24 w-full md:w-2/3 
    mx-auto bg-cover bg-center lg:bg-contain rounded-lg;
  }
  .news-letter-container .wrapper .input {
    @apply bg-[#ffffff33] w-full outline-none px-5 py-4 rounded-md my-6;
  }
  .news-letter-container .wrapper button {
    @apply px-4 py-4 bg-black text-lg rounded-md font-medium;
  }

  /* ------------
    footer
  ------------ */
  footer {
    @apply px-5 py-10 mt-20 text-white bg-black;
  }
  footer .menu-wrapper {
    @apply text-center md:grid grid-cols-4 lg:grid-cols-7 gap-5;
  }
  footer .item {
    @apply mt-4 mb-5;
  }
  footer .get-started-wrapper {
    @apply mt-4 xl:mt-0;
  }
  footer .item h2,
  footer .get-started-wrapper h2 {
    @apply font-semibold tracking-widest text-lg mb-3;
  }
}

.news-letter-container .wrapper {
  background-image: url("/nueslater.png");
  background-repeat: no-repeat;
}
.header-container .menu-wrapper .submenus-wrapper {
  box-shadow: rgb(255 0 0 / 33%) 1px 2px 15px;
}
